services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KEYCLOAK_IMPORT: /opt/keycloak/data/import/realm-config.json
    ports:
      - "8080:8080"
    tmpfs:
      - /tmp
    volumes:
      - ./keycloak/realm-config.json:/opt/keycloak/data/import/realm-config.json:ro
    command: ["start-dev", "--import-realm"]
    restart: unless-stopped

  chatserver:
    build:
      context: .
      dockerfile: chat/Dockerfile
    ports:
      - "50052:50052"
    environment:
      KEYCLOAK_URL: http://keycloak:8080
      KEYCLOAK_REALM: idklol
      KEYCLOAK_CLIENT_ID: idklol-chat
    depends_on:
      - keycloak
    restart: unless-stopped
