NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-change-in-production

KEYCLOAK_ID=idklol-webadmin
KEYCLOAK_SECRET=webadmin-client-secret-12345
KEYCLOAK_ISSUER=http://keycloak:8080/realms/idklol

NATS_URL=nats://nats:4222
